{% load disqus_tags %}

<div class="blog-post">
    <header class="post-heading">
        <h1><a class="header-title" href="{{ blog_post.get_absolute_url }}">{{blog_post.title}}</a></h1>
        <time datetime="{{blog_post.post_date|date:'Y-m-d'}}" class="post-time">{{blog_post.post_date|date:"M dS, Y"}}</time>
    </header>
    <div class="body">
    {% if word_count %}
      {% if word_count < blog_post.text|wordcount %}
        {{blog_post.text|safe|truncatewords_html:word_count}}
        <a href="{{ blog_post.get_absolute_url }}">Read more</a>
      {% else %}
        {{blog_post.text|safe}}
      {% endif %}
    {% else %}
        {{blog_post.text|safe}}
    {% endif %}
    </div>
    <aside>
        <p>Posted in {% for tag in blog_post.tags.all %}
            <a href="{{tag.get_absolute_url}}" rel="category tag">{{ tag }}{%if not forloop.last %}, {% endif %}</a>
        {% endfor %} {% if show_thread_link %}
            <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span><a href="{{ blog_post.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ blog_post.id }}">Comments</a>
            {% disqus_num_replies %}
        {% endif %}
        </p>
    </aside>
    {% if show_social_link %}<footer>
        <ul class="article-social">
            <li>Posted {{blog_post.post_date|date:"h:i A"}}<li>
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ request.build_absolute_uri|urlencode }}{{ blog_post.get_absolute_url }}" data-via="samsinx"></a></li>
        </ul>
    </footer>{% endif %}
</div>