<div id="header">
    <div id="banner">
        <header>
            <h1><a class="header-title" href="{% url metablog_home %}">{{ ck_site_title }}</a></h1>
            <p class="subheading">An exploration in Games and Software Development</p>
        </header>
        <nav id="main-menu">
            <ul>
                <li {% if not selected_category %} class="selected"{%endif%}><a href="{% url metablog_home %}">Home</a></li>
            {% for category in categories %}
                <li {% if selected_category == category %} class="selected"{%endif%}><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </div>
</div>