{% extends 'blog.html' %}

{% block site_title %}{% if selected_category %}{{selected_category.long_name}} - {%endif %}{% if archive_date %}{% if archive_month %}{{archive_date|date:"F"}} {% endif %}{{archive_date|date:"Y"}} Archives - {% endif %}{{page_title}}{% endblock site_title %}

{% block blog_content %}
    {% for blog_post in blog_posts %}
        <article{% if forloop.last %} class="last-article"{% else %} class="std-article"{% endif %}>
            {% include 'article.html' with blog_post=blog_post word_count=blog_post.atj_word_count show_thread_link=0 %}
        </article>
    {% endfor %}
    <div class="post-nav">
    {% if next_post_index > 0 %}
        <a href="{{request.path}}?start={{next_post_index}}">Newer Posts</a>
    {% elif next_post_index == 0 %}
        <a class="next-post-link" href="{{request.path}}">Newer Posts</a>
    {% endif %}
    {% if prev_post_index > 0 %}
        <a class="prev-post-link" href="{{request.path}}?start={{prev_post_index}}">Older Posts</a>
    {% endif %}
    </div>
{% endblock blog_content %}
