<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog" lang="en">
<head>
  <title>{% block site_title %}{{ page_title }}{% endblock site_title %}</title>
{% if allow_rss_feed %}
  <link rel="alternate" type="application/rss+xml" title="Coder Ex Gamer article feed" href="{{request.path}}rss/"/>
{% endif %}
 
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Armata:400" rel="stylesheet" type="text/css">
  <link href="{{ STATIC_URL }}lightbox/css/lightbox.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jqtree.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/ckblog.css">
  {% if flavour == "mobile" %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/ckblog-m.css">
  {% endif %}
  {% block html_meta %}<meta name="description" content="Articles on game development and classic gaming.">{% endblock html_meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {% block html_head_links %}{% endblock html_head_links %}
{% comment %}
  html5.js : allows us to use basic HTML5 markup for pages loading on earlier
    IE browsers (<article>,<header>,<section>, etc...)
{% endcomment %}
{% if ck_local_js_libraries %}
<!--[if lt IE 9]>
  <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
<![endif]-->
{% else %}
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endif %}
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="{{ STATIC_URL }}js/tree.jquery.js"></script>
  <script id="twitter-wjs" src="//platform.twitter.com/widgets.js"></script>
  <script src="{{ STATIC_URL }}lightbox/js/lightbox-2.6.min.js"></script>
  {% block html_head %}{% endblock html_head %}
</head>
<body>{% block html_body %}{% endblock html_body %}</body>
</html>