{% extends 'sitebase.html' %}
{% load disqus_tags %}

{% block html_head %}
{% comment %}Google Analytics and Webmaster Tools{% endcomment %}
{% if not debug %}
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37150583-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
{% disqus_dev %}
{% endblock html_head %}


{% block html_body %}
{% include 'header.html' %}

<div class="main-body">
    <div class="content-body-mobile">
    {% block blog_content %}{% endblock blog_content %}
    </div>
</div>

{% include 'footer.html' %}

{% block blog_script %}{% endblock blog_script %}
{% endblock html_body %}
