{% extends "admin/change_form.html" %}

{% block extrahead %}
	
	{{ block.super }}

	<script type="text/javascript">
		wysihtml5ParserRules.tags.figure = {};
		wysihtml5ParserRules.tags.figcaption = {};
		wysihtml5ParserRules.tags.a.allow_attributes.push('data-lightbox');
	</script>

	<style type="text/css">
		#id_text {
			height: 512px;  !important
		}
	</style>
	
{% endblock %}

{% block extrastyle %}
	
	{{ block.super }}
	
{% endblock %}

{% block content %}
	
	{{ block.super }}

{% endblock %}