/*
    ckblog-m.css
*/

body {
    font-size: 22pt;
    background-image: none;
    background-color: #fff;
}

.text-list {
    line-height: 1.5em;
}

.content-body-mobile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#banner h1 {
    font-size: 2.25em;
}

#banner h2 {
    font-size: 1.25em;
}

#main-menu ul {
    width: 100%;
}

#main-menu li {
    padding: 0 1em;
    font-size: 1em;
}

.blog-post .body p {
    line-height: 1.5em;
}

.blog-post .body li {
    line-height: 1.25em;
}

