/*
    ckblog-m.css
*/

body {
    font-size: 11pt;
    background-image: none;
    background-color: #fff;
}

.content-body-mobile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#banner h1 {
    font-size: 1.75em;
}

#banner h2 {
    font-size: 1em;
}

#main-menu ul {
    width: 100%;
}

#main-menu li {
    padding: 0 2em;
    font-size: 1em;
}
