/*
    ckblog.css
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    background-image: url('/static/img/bkgtile.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    padding-bottom: 1em;
    color: #222;
}

a {
    text-decoration: none;
    color: #366;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: bold;
}

.header-title {
    color: #000;
}

.social-button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

.social-bar {
    list-style-type: none;
    margin-top: 1em;
}

.social-bar li {
    display: inline-block;
    margin-right: 0.5em;
}

.text-list {
    line-height: 1.1em;
}

#header {
    width: 100%;
}

#banner header {
    width: 940px;
    margin: 2em auto;
    text-align: center;
}

#banner h1 {
    font-size: 2em;
    margin: 0.25em 0;
}

#banner h2 {
    font-size: 1.1em;
    font-weight: normal;
    text-transform: uppercase;
}

footer {
    margin: 1em auto;
    width: 940px;
}

footer p {
    font-size: 0.9em;
    text-align: center;
}

#main-menu {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.35em 0;
    background-color: #1aa;
}

#main-menu ul {
    width: 940px;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
}
#main-menu li {
    display: inline-block;
    padding: 0 4em;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
}

#main-menu li a {
    font-weight: bold;
    color: #000;
}

#main-menu li a.selected {
    color: #fc6;
}

#main-menu li a:hover {
    color: #fc6;
}

.main-body {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#sidebar {
    width: 28%;
    float: left;
}

.sidebar-box {
    /*background-color: #7dd;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: 0.5em;
    */
    margin-top: 1em;
    margin-right: 1em;
    padding: 0.5em 0em;   
}

.sidebar-box h3 {
    width: 100%;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted #888;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}

.sidebar-box p {
    font-size: 0.9em;
    line-height: 1.2em;
    word-spacing: 2px;
}
.sidebar-box a {
    font-size: 0.9em;
}

.content-body {
    width: 72%;
    float: right;
}

.content-body-column {
    border-left: 1px dotted #888;
    padding: 0 1em;
}

.blog-post {
    margin: 1em auto;
    padding: 0.5em 0; 
}

.blog-post .post-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.blog-post .post-time {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 0.9em;
}

.blog-post h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.75em;
}

.blog-post .body {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.blog-post .body a {
    color: #960;
    text-decoration: none;
}

.blog-post .body a:hover {
    text-decoration: underline;
}

.blog-post .body h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.blog-post .body p {
    line-height: 1.2em;
    margin-top: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.blog-post .body ul {
    margin: 0.5em;
    list-style-type: disc;
    list-style-position: outside;
}

.blog-post .body li {
    margin: 0.25em 1em;
}

.blog-post aside {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    margin: 1em 0;
    padding: 0.5em 0.75em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    background-color: #fc6;
}

.blog-post aside p {
    font-size: 0.9em;
    margin: 0.25em 0;    
}

pre {
    display: block;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 0.5em;
    overflow: auto;
}

code {
    font-family: "Andale Mono", Consolas, monaco, monospace;
    font-size: 0.95em;
}

samp {
    font-family: "Andale Mono", Consolas, monaco, monospace;
}

.article-social {
    margin: 0.25em 0;
    list-style-type: none;
}
.article-social li {
    font-size: 0.9em;
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
}
.article-disqus-link {
    font-size: 0.9em;
}

.post-nav {
    overflow: hidden;
    margin: 1em 0;
    width: 100%;
}
.next-post-link {
    float: left;
}
.prev-post-link {
    float: right;
}
